.quasar
.DS_Store
.thumbs.db
node_modules
/dist
/test/tmp
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logfiles
/import/nobody.csv
/import/nobody.xslt
/hash-store/toxus.json
/hash-store/nobody.json


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/src/statics/indexed.do/
